@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>MJU GradMS V.1.0</h1>
    <p class="lead">MJU GradMS (Maejo University Graduate School Management System) เป็นโปรแกรมเพื่อบริหารจัดการการเรียนการสอนของบัณฑิตวิทยาลัย ประกอบไปด้วยส่วนจัดการของนักศึกษา เจ้าหน้าที่ และอาจารย์ 
    เพื่อช่วยให้การติดต่องานกับทางบัณฑิตวิทยาลัยมีความรวดเร็ว ใช้งานง่าย นักศึกษาสามารถติดตามผลการเรียนของตนเองได้อย่างสะดวกยิ่งขึ้น
    </p>
    <p><a href="/Account/Login" class="btn btn-primary btn-lg">เริ่มใช้งาน &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>